@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

.perfilInner{
    width: 380px;
    height: calc(100vh - 65px);
    background-color: black;
    margin-top: 65px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfilBox{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 6%;
}

.descPerfilArea{
    height: 18%;
    width: 74%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5px;
}

.personImg{
    width: 280px;
    height: 280px;
    background-color: black;
    border-radius: 50%;
    outline: rgb(15, 15, 15) 3px solid;
    position: relative;
}

.personImg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.namePerfil.hidden{
    visibility: hidden;
}

.namePerfil{
    width: 70%;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
    margin-top: 15px;
}

.userPerfilName{
    font-size: 1.5em;
}

.userPerfilNick{
    font-weight: 300;
    font-size: 1em;
    color: gray;
}

.userPerfilDesc{
    font-size: .8em;
    line-height: 1;
    font-weight: 500;
}

.buttonsPerfil{
    position: absolute;
    right: 9px;
    bottom: 11px;
    display: flex;
    flex-direction: row;
}

.nameAlterBox > input[type='text']{
    background-color: rgba(34, 34, 34, 0.356);
    outline: 1px solid #383838;
    border: none;
    padding: 7px 9px;
    border-radius: 5px;
    margin: 5px 0;
}

.buttonSavePerfil.hidden{
    display: none;
}

.buttonSavePerfil{
    display: block;
    background-color: #50ad50;
}

.buttonAlter{
    background-color: #D21F35;
}

.buttonsPerfil > button{
    padding: 5px 25px;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    transition: .5s ease;
    font-weight: 700;
    margin: 0 5px;
    -webkit-box-shadow: 3px 3px 8.5px -2px #000000;
    -moz-box-shadow: 3px 3px 8.5px -2px #000000;
    box-shadow: 3px 3px 8.5px -2px #000000;
}

.nameAlterBox{
    position: absolute;
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: left;
    bottom: 46px;
    color: white;
}

.descInput{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    margin-top: 3px;
    background-color: rgba(34, 34, 34, 0.356);
    outline: 1px solid #383838;
    border: none;
    padding: 7px 9px;
    resize: none;
}

.alter.hidden{
    visibility: hidden;
}

.alter{
    visibility: visible;
}

input[type="file"]{
    display: none;
}

.filePerfil{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.altImageBox{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.buttonAlter:hover{
    color: #D21F35;
    background-color: white;
}

.buttonSavePerfil:hover{
    color: #50ad50;
    background-color: white;
}

.altImageBox > button:disabled{
    background-color: gray;
    cursor: default;
    color: rgb(180, 180, 180);
}

.altImageBox > button:disabled:hover{
    background-color: gray;
    cursor: default;
    color: rgb(180, 180, 180);
}

.altImageBox > button:hover{
    background-color: white;
    color: #D21F35;
}

.altImageBox > button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;         
    transform: translate(-50%, 90%);
    background-color: #D21F35;
    border: none;
    padding: 3px 9px;
    border-radius: 15px;
}
