.Header{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 9px;
    justify-content: space-between;
    position: fixed;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.658) 0%, rgba(255,255,255,0) 100%);
    z-index: 1000;
    transition: .3s ease;
}

.Header.scroll{
    background: #911523;
}

.headerLeft{
    display: flex;
    flex-direction: row;
}

.HeaderName{
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.headerButtons{
    margin-left: 29px;
}

.headerButtons > a{
    text-decoration: none;
    margin: 0 12px;
    color: white;
    transition: .2s ease;
    padding: auto 0;
}

.headerButtons a:hover{
    color: #D21F35;
}

.headerButtons.scroll a:hover{
    color: black;
}